canvas {
  max-width: 100%;
  height: auto;
  border: 3px;
  border-color: #f00;
}

figure {
  display: inline-block;
  vertical-align: top; /* 選擇一個垂直對齊方式 */
  margin-inline: 0.5em; /* 選擇一個內邊距 */
}

figcaption {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
  color: #666;
}
